@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }
  .glow-effect {
    @apply transition-shadow duration-300 ease-in-out;
  }
  .glow-effect:hover {
    @apply shadow-[0_0_15px_rgba(255,255,255,0.5)];
  }
}
    
